.App {
  text-align: center;
}

body {
  overflow: hidden;
  margin: 0;
}

.App-logo {
  pointer-events: none;
  height: 20vh;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App-logo {
  opacity: 1;
  animation-name: fade;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

#pvpVideoContainer {
  background-position: center;
}

#pvpVideo {
  filter: blur(3px) grayscale(100%);
  position: fixed;
  animation-name: fade;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  z-index: -1;
  top: 0;
}
@media (min-aspect-ratio: 16/9) {
  #pvpVideo {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #pvpVideo {
    width: auto;
    height: 100%;
  }
  #Rules {
    max-height: 88vh;
  }
}
@media (min-height: 813px) {
  #Rules {
    max-height: 92vh;
  }
  #discordInvite {
    height: 70%;
  }
}
@media (max-height: 824px) {
  #discordInviteImage {
    height: auto;
    width: 90%;
  }
  #discordInvite {
    height: 70%;
    width: 90%;
  }
}
@media (max-width: 600px) {
  #ServerCards {
    margin: 5rem 0rem 0rem 0rem !important;
  }
  .serverCard {
    padding: 0px 0px 20px 0px !important;
  }
}

@media (max-width: 899px) {
  .serverLogo {
    display: none;
  }
  .serverBanner {
    max-width: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 1919px) {
  #ServerCards {
    margin: 3rem 0rem 0rem 0rem !important;
    overflow: hidden !important;
  }
}
@media (min-width: 1922px and min-height 1300px) {
  #ServerCards {
    margin: 20rem 0rem 0rem 0rem !important;
  }
}
#NavBar {
  background: rgba(0, 0, 0, 1);
  z-index: 1;
  position: fixed;
  top: 0;
}

#Rules {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  overflow-y: scroll;
  margin: 4rem 1.2rem 1rem;
  height: 93.5vh;
}

#CurrentTab {
  flex: 1;
}

ul {
  padding: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 20px;
}

li {
  list-style-type: none;
  padding: 1rem;
  font-size: 1.2rem;
  text-shadow: 1px 3px rgb(0, 0, 0);
}

#dicordInviteContainer {
  margin: 4rem auto;
  height: 88vh;
}

#discordInviteImage {
  margin: 0rem auto;
  display: block;
}

#discordInvite {
  margin: 2rem auto;
  display: block;
}

.serverCard {
  padding: 50px;
  display: inline-block;
}

#ServerCards {
  margin: 5rem 2em;
  max-height: 88vh;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
}

.serverLogo {
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.75);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#Shop {
  width: 100%;
  height: 96vh;
  margin-top: 3rem;
  border: none;
  position: relative;
  background: white;
}
